name: Go Test Action
on:
  pull_request:
    branches: [ master ]
  push:
    branches: [ master ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Go
        uses: actions/setup-go@v3
        with:
          go-version: '1.19.5'

      - name: Testing Go
        uses: n8maninger/action-golang-test@v1

      - name: Upload Linter Results
        uses: actions/upload-artifact@v3
        with:
          name: Results
          path: results.txt